<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Best retro games, designs and phone apps available both on IOS Apple Products and Android.">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="../images/tabIcon.png">
        <link rel="stylesheet" href="../index.css">
        
        <title>Still57 Games</title>
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Still57</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#games">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>        
                </ul>
            </div>
        </nav>
        
        <div class="jumbotron text-center jumboT">
            <h1 class="display-4">Still57 Games</h1>
            <p class="lead">Check out our games below and click the links to download them.</p>
            <hr class="my-4">
            <p>We believe in quality game making for IOS and Android systems.</p>
            <a class="btn btn-lg" href="#games" role="button" style="margin-top:10px;">Games</a>
        </div>
        
        <div id="our-community" class="text-center">
            <div class="container container-div">
                <h2>Values</h2>
                <h3>Our Design Principles</h3>
                <div class="row">
                    <div class="col">
                        <div class="card community-card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Gameplay</h5>
                                <p class="card-text">Gameplay is in the heart of our games.We test different gameplay mechanics to perfection and build around that, making sure our players have the best casual mobile gaming experience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card community-card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Content</h5>
                                <p class="card-text">There is nothing worse than a good game that feels empty. Every game should have rich content that players look forward to. We make sure to pour tons of content so our players feel fulfilled.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card community-card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Freedom</h5>
                                <p class="card-text">Customization is something that really lacks in casual mobile games. We are trying to change that. We make sure to add a lot of customization options so players can make the game their own.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        
        <div id="games">
            <div class="container text-center" style="padding-top: 20px; margin-bottom:-20px;">
                <h2>Games</h2>
                <h3>Check Out Our Games Below</h3>
            </div>    
            <div class="container container-div">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="title" class="row">
                                <div class="col-2">
                                    <img class="icon line_1" src="../images/minesweeper/minesweeperIcon.png">
                                </div>
                                <div class="col-12">
                                    <h5 class="card-title">Minesweeper Classic: Retro</h5>
                                </div>
                            </div>
                            <div id="minesweeper_indicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#minesweeper_indicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#minesweeper_indicators" data-slide-to="1"></li>
                                    <li data-target="#minesweeper_indicators" data-slide-to="2"></li>
                                    <li data-target="#minesweeper_indicators" data-slide-to="3"></li>
                                    <li data-target="#minesweeper_indicators" data-slide-to="4"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="../images/minesweeper/minesweeperImage1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/minesweeper/minesweeperImage2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/minesweeper/minesweeperImage3.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/minesweeper/minesweeperImage4.jpg" alt="Fourth slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/minesweeper/minesweeperImage5.jpg" alt="Fifth slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#minesweeper_indicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#minesweeper_indicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <a href="https://itunes.apple.com/app/minesweeper-classic-retro/id1287818410"><img id="app_store"  src="../images/storeButtons/appStoreBtn.png"></a>
                                    </div>
                                    <div class="col">
                                        <a href="https://play.google.com/store/apps/details?id=com.still57.minesweeper"><img id="google_play" src="../images/storeButtons/googlePlayBtn.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="title" class="row">
                                <div class="col-2">
                                    <img class="icon line_1 icon-down" src="../images/arrowTwist/arrowTwistIcon.png">
                                </div>
                                <div class="col-12 header">
                                    <h5 class="card-title">Arrow Twist</h5>
                                </div>
                            </div>
                            <div id="arrow_twist_indicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#arrow_twist_indicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#arrow_twist_indicators" data-slide-to="1"></li>
                                    <li data-target="#arrow_twist_indicators" data-slide-to="2"></li>
                                    <li data-target="#arrow_twist_indicators" data-slide-to="3"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="../images/arrowTwist/arrowTwistImage1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/arrowTwist/arrowTwistImage2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/arrowTwist/arrowTwistImage3.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/arrowTwist/arrowTwistImage4.jpg" alt="Fourth slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#arrow_twist_indicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#arrow_twist_indicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <a href="https://itunes.apple.com/app/arrow-twist/id1252310330"><img id="app_store"  src="../images/storeButtons/appStoreBtn.png"></a>
                                    </div>
                                    <div class="col">
                                        <a href="https://play.google.com/store/apps/details?id=com.still57.arrowtwist"><img id="google_play" src="../images/storeButtons/googlePlayBtn.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="title" class="row">
                                <div class="col-2">
                                    <img class="icon line_1 icon-down" src="../images/flippyFruit/flippyFruitIcon.png">
                                </div>
                                <div class="col-12 header">
                                    <h5 class="card-title">Flippy Fruit</h5>
                                </div>
                            </div>
                            <div id="flippy_fruit_indicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#flippy_fruit_indicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#flippy_fruit_indicators" data-slide-to="1"></li>
                                    <li data-target="#flippy_fruit_indicators" data-slide-to="2"></li>
                                    <li data-target="#flippy_fruit_indicators" data-slide-to="3"></li>
                                    <li data-target="#flippy_fruit_indicators" data-slide-to="4"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="../images/flippyFruit/flippyFruitImage1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/flippyFruit/flippyFruitImage2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/flippyFruit/flippyFruitImage3.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/flippyFruit/flippyFruitImage4.jpg" alt="Fourth slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/flippyFruit/flippyFruitImage5.jpg" alt="Fifth slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#flippy_fruit_indicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#flippy_fruit_indicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <a href="https://itunes.apple.com/app/flippy-fruit/id1214540382?mt=8"><img id="app_store"  src="../images/storeButtons/appStoreBtn.png"></a>
                                    </div>
                                    <div class="col">
                                        <a href="https://play.google.com/store/apps/details?id=com.still57.pineflapple"><img id="google_play" src="../images/storeButtons/googlePlayBtn.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="title" class="row">
                                <div class="col-2">
                                    <img class="icon line_1" src="../images/solitaire/solitaireIcon.png">
                                </div>
                                <div class="col-12">
                                    <h5 class="card-title">Solitaire Classic: Klondike</h5>
                                </div>
                            </div>
                            <div id="solitaire_indicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#solitaire_indicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#solitaire_indicators" data-slide-to="1"></li>
                                    <li data-target="#solitaire_indicators" data-slide-to="2"></li>
                                    <li data-target="#solitaire_indicators" data-slide-to="3"></li>
                                    <li data-target="#solitaire_indicators" data-slide-to="4"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="../images/solitaire/solitaireImage1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/solitaire/solitaireImage2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/solitaire/solitaireImage3.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/solitaire/solitaireImage4.jpg" alt="Fourth slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/solitaire/solitaireImage5.jpg" alt="Fifth slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#solitaire_indicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#solitaire_indicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <a href="https://itunes.apple.com/app/solitaire-classic-klondike/id1304695854"><img id="app_store"  src="../images/storeButtons/appStoreBtn.png"></a>
                                    </div>
                                    <div class="col">
                                        <a href="https://play.google.com/store/apps/details?id=com.still57.solitaire"><img id="google_play" src="../images/storeButtons/googlePlayBtn.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="title" class="row">
                                <div class="col-2">
                                    <img class="icon line_1 icon-down" src="../images/batak/batakIcon.png">
                                </div>
                                <div class="col-12 header">
                                    <h5 class="card-title">Batak Gold</h5>
                                </div>
                            </div>
                            <div id="batak_indicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#batak_indicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#batak_indicators" data-slide-to="1"></li>
                                    <li data-target="#batak_indicators" data-slide-to="2"></li>
                                    <li data-target="#batak_indicators" data-slide-to="3"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="../images/batak/batakImage1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/batak/batakImage2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/batak/batakImage3.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/batak/batakImage4.jpg" alt="Fourth slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#batak_indicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#batak_indicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <a href="https://itunes.apple.com/app/batak-gold/id1018653779"><img id="app_store"  src="../images/storeButtons/appStoreBtn.png"></a>
                                    </div>
                                    <div class="col">
                                        <a href="https://play.google.com/store/apps/details?id=com.still57.batakgold"><img id="google_play" src="../images/storeButtons/googlePlayBtn.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="title" class="row">
                                <div class="col-2">
                                    <img class="icon line_1 icon-down" src="../images/king/kingIcon.png">
                                </div>
                                <div class="col-12 header">
                                    <h5 class="card-title">King Kart Oyunu</h5>
                                </div>
                            </div>
                            <div id="king_indicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#king_indicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#king_indicators" data-slide-to="1"></li>
                                    <li data-target="#king_indicators" data-slide-to="2"></li>
                                    <li data-target="#king_indicators" data-slide-to="3"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="../images/king/kingImage1.jpg" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/king/kingImage2.jpg" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/king/kingImage3.jpg" alt="Third slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="../images/king/kingImage4.jpg" alt="Fourth slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#king_indicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#king_indicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <a href="https://itunes.apple.com/app/king-kart-oyunu/id1018654392"><img id="app_store"  src="../images/storeButtons/appStoreBtn.png"></a>
                                    </div>
                                    <div class="col">
                                        <a href="https://play.google.com/store/apps/details?id=com.still57.king"><img id="google_play" src="../images/storeButtons/googlePlayBtn.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="about-us" class="text-center">
            <div class="container container-div">
                <h2>About Us</h2>
                <h3>Telling Our Story Through Our Games</h3>
                <p>We are a Canadian indie game studio that started making mobile games in 2015 and are dedicated to making the best casual mobile games on the App Store and Google Play. We are trying to change the casual mobile gaming space by creating fully fledged games with rich content and an unmatched gameplay experience. Feel free to share your thoughts and ideas down below by sending us a message and we will get back to you as soon as we can.</p>
            </div>    
        </div>
        
        <div id="around-the-web" class="text-center">
            <div class="container container-div">
<!--                <h1 class="text-center" style="margin-bottom: 25px;">Around the Web</h1>-->
                <h2>Around The Web</h2>
                <h3>We've Been Featured!</h3>
                <div class="text-center container" style="border: 1px solid gainsboro; padding: 30px; border-radius: 10px; margin-bottom: 25px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); transition: box-shadow 200ms; margin-top: 20px;">

                        <div class="row align-items-center">
                            <div class="col">
                                <img src="images/arrowTwist/arrowTwistLinkImage.JPG" alt="..." id="img-img">
                            </div>
                            <div class="col">
                                <div>
                                    <h5>Top Android Games To Lookout for in June 2020</h5>
                                    <p>Check out our feature in GamesKeys' Top Android Games To Lookout for in June 2020!</p>
                                    <a href="https://gameskeys.net/top-android-game-to-lookout-for-in-june-2020" class="btn">Check it out!</a>
                                </div>    
                            </div>    
                        </div>

                </div>
            </div>
        </div>
        
        <div id="contact" class="text-center">
            <div class="container container-div">
                <h2>Contact</h2>
                <h3 style="margin-bottom: 20px;">Shoot Us A Message</h3>
<!--                <h4 style="margin-top: 20px; margin-bottom: 20px;">Fill The Form</h4>-->
                <form method="post" id="contact-us-form" action="contactUsForm">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
<!--
                    <div class="invalid-feedback">
                        Please type your name.
                    </div>
-->
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Your Email" required>
<!--
                    <div class="invalid-feedback">
                        Please type your email.
                    </div>
-->
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" id="message" rows="5" placeholder="Your Message (Please make sure to include your phone model and the software version if relevant)" required></textarea>
<!--
                    <small class="form-text " style="color: white; margin-top: 15px; margin-bottom: 20px;">
                        Please make sure to include your phone model and the software version if relevant
                    </small>
-->
<!--
                    <div class="invalid-feedback">
                        Please type your message to share.
                    </div>
-->
                </div>
                <div id="recap" name="recap" class="g-recaptcha" data-sitekey="6Lcl4ngUAAAAAOYHESsbQrN6TRLO73C3sD3t9s82" data-callback="verifyCaptcha" style="margin-bottom: -10px;"></div>
                <div id="g-recaptcha-error" style="color: white; margin-top: 15px; margin-bottom: 20px; float:left;"></div>
                    <div style="clear: both"></div>
                    
                <div class="alert success-message no-display" role="alert">
                    
                </div>
                <button type="submit" id="submit" class="btn" style="margin-bottom: 10px;">Submit</button>
            </form>
                <hr style="border-color: white;">
                <p><a href="mailto:info@still57games.com" style="color: white;">info@still57games.com</a></p>
                <a href="https://www.instagram.com/still57games"><i class="fab fa-instagram fa-2x" style="color: #17A2B8;"></i></a>
                <a href="https://www.facebook.com/still57support"><i class="fab fa-facebook fa-2x" style="font-size: 180%; position: relative; top: -1px; margin-left: 20px; color: #17A2B8;"></i></a>
                <a href="https://www.youtube.com/channel/UCQKxCjGwcKYQWLgpP4mE80Q"><i class="fab fa-youtube fa-2x" style="color: #17A2B8; margin-left: 20px;"></i></a>
                <p class="text-muted" style="font-size: 80%; margin-top: 13px;">Powered by <a href="mailto:info@mckcodingprojects.com">MCK Coding Projects</a></p>
            </div>    
        </div>
        
<!--
        <div id="contact" class="text-center" style="background-color: black; color: #17A2B8;">
            <div class="container container-div">
                
            </div>    
        </div>
-->
        
        
      
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/665313628a.js" crossorigin="anonymous"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="../index.js"></script>
    </body>
</html>
























































<!--


<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Best retro games and designs available both on IOS Apple Products and Android. These phone apps will make you download the same game twice.">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="../images/tabIcon.png">
        <link rel="stylesheet" href="../index.css">
        
        <title>Still57 Games | Games</title>
    </head>
<!--
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" id="brand" href="/">Still57</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactUs">Contact Us<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div id="heading-top" class="container text-center">
            <h1 class="text-center" id="games-title">STILL57 GAMES</h1>
            <p class="lead text-center">Check out our games below and click the links to download them</p>
        </div>
        
-->
<!--
        <div class="grid-container container">
            
            <div class="card grid-item" style="width: 18rem;">
                <div class="title" class="row">
                    <div class="col-2">
                        <img class="icon line_1" src="../images/minesweeperIcon.png">
                    </div>
                    <div class="col-12 header">
                        <h5 class="card-title">Minesweeper Classic: Retro</h5>
                    </div>
                </div>
                <div id="minesweeper_indicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#minesweeper_indicators" data-slide-to="0" class="active"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="1"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="2"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="3"></li>
                        <li data-target="#minesweeper_indicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../images/minesweeperImage1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage4.jpg" alt="Fourth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/minesweeperImage5.jpg" alt="Fifth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#minesweeper_indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#minesweeper_indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
-->
<!--
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="https://itunes.apple.com/app/minesweeper-classic-retro/id1287818410"><img id="app_store"  src="../images/appStoreBtn.png"></a>
                        </div>
                        <div class="col">
                            <a href="https://play.google.com/store/apps/details?id=com.still57.minesweeper"><img id="google_play" src="../images/googlePlayBtn.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card grid-item" style="width: 18rem;">
                <div class="title" class="row">
                    <div class="col-2">
                        <img class="icon line_1" src="../images/arrowTwistIcon.png">
                    </div>
                    <div class="col-12 header">
                        <h5 class="card-title">Arrow Twist</h5>
                    </div>
                </div>
                <div id="arrow_twist_indicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#arrow_twist_indicators" data-slide-to="0" class="active"></li>
                        <li data-target="#arrow_twist_indicators" data-slide-to="1"></li>
                        <li data-target="#arrow_twist_indicators" data-slide-to="2"></li>
                        <li data-target="#arrow_twist_indicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../images/arrowTwistImage1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/arrowTwistImage2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/arrowTwistImage3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/arrowTwistImage4.jpg" alt="Fourth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#arrow_twist_indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#arrow_twist_indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="https://itunes.apple.com/app/arrow-twist/id1252310330"><img id="app_store"  src="../images/appStoreBtn.png"></a>
                        </div>
                        <div class="col">
                            <a href="https://play.google.com/store/apps/details?id=com.still57.arrowtwist"><img id="google_play" src="../images/googlePlayBtn.png"></a>
                        </div>
                    </div>
                </div>
            </div>
-->
            
<!--
            <div class="card grid-item" style="width: 18rem;">
                <div class="title" class="row">
                    <div class="col-2">
                        <img class="icon line_1" src="../images/flippyFruitIcon.png">
                    </div>
                    <div class="col-12 header">
                        <h5 class="card-title">Flippy Fruit</h5>
                    </div>
                </div>
                <div id="flippy_fruit_indicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#flippy_fruit_indicators" data-slide-to="0" class="active"></li>
                        <li data-target="#flippy_fruit_indicators" data-slide-to="1"></li>
                        <li data-target="#flippy_fruit_indicators" data-slide-to="2"></li>
                        <li data-target="#flippy_fruit_indicators" data-slide-to="3"></li>
                        <li data-target="#flippy_fruit_indicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../images/flippyFruitImage1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/flippyFruitImage2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/flippyFruitImage3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/flippyFruitImage4.jpg" alt="Fourth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/flippyFruitImage5.jpg" alt="Fifth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#flippy_fruit_indicators" role="button" data-slide="prev">
-->
<!--
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#flippy_fruit_indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="https://itunes.apple.com/app/flippy-fruit/id1214540382?mt=8"><img id="app_store"  src="../images/appStoreBtn.png"></a>
                        </div>
                        <div class="col">
                            <a href="https://play.google.com/store/apps/details?id=com.still57.pineflapple"><img id="google_play" src="../images/googlePlayBtn.png"></a>
                        </div>
                    </div>
                </div>
            </div>
-->
            
<!--
            <div class="card grid-item" style="width: 18rem;">
                <div class="title" class="row">
                    <div class="col-2">
                        <img class="icon line_1" src="../images/solitaireIcon.png">
                    </div>
                    <div class="col-12 header">
                        <h5 class="card-title">Solitaire Classic: Klondike</h5>
                    </div>
                </div>
                <div id="solitaire_indicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#solitaire_indicators" data-slide-to="0" class="active"></li>
                        <li data-target="#solitaire_indicators" data-slide-to="1"></li>
                        <li data-target="#solitaire_indicators" data-slide-to="2"></li>
                        <li data-target="#solitaire_indicators" data-slide-to="3"></li>
                        <li data-target="#solitaire_indicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../images/solitaireImage1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/solitaireImage2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/solitaireImage3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/solitaireImage4.jpg" alt="Fourth slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/solitaireImage5.jpg" alt="Fifth slide">
                        </div>
                    </div>
-->
<!--
                    <a class="carousel-control-prev" href="#solitaire_indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#solitaire_indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="https://itunes.apple.com/app/solitaire-classic-klondike/id1304695854"><img id="app_store"  src="../images/appStoreBtn.png"></a>
                        </div>
                        <div class="col">
                            <a href="https://play.google.com/store/apps/details?id=com.still57.solitaire"><img id="google_play" src="../images/googlePlayBtn.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            
-->
<!--
            <div class="card grid-item" style="width: 18rem;">
                <div class="title" class="row">
                    <div class="col-2">
                        <img class="icon line_1" src="../images/batakIcon.png">
                    </div>
                    <div class="col-12 header">
                        <h5 class="card-title">Batak Gold</h5>
                    </div>
                </div>
                <div id="batak_indicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#batak_indicators" data-slide-to="0" class="active"></li>
                        <li data-target="#batak_indicators" data-slide-to="1"></li>
                        <li data-target="#batak_indicators" data-slide-to="2"></li>
                        <li data-target="#batak_indicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../images/batakImage1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/batakImage2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/batakImage3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/batakImage4.jpg" alt="Fourth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#batak_indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#batak_indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
-->
<!--
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="https://itunes.apple.com/app/batak-gold/id1018653779"><img id="app_store"  src="../images/appStoreBtn.png"></a>
                        </div>
                        <div class="col">
                            <a href="https://play.google.com/store/apps/details?id=com.still57.batakgold"><img id="google_play" src="../images/googlePlayBtn.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card grid-item" style="width: 18rem;">
                <div class="title" class="row">
                    <div class="col-2">
                        <img class="icon line_1" src="../images/kingIcon.png">
                    </div>
                    <div class="col-12 header">
                        <h5 class="card-title">King Kart Oyunu</h5>
                    </div>
                </div>
                <div id="king_indicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#king_indicators" data-slide-to="0" class="active"></li>
                        <li data-target="#king_indicators" data-slide-to="1"></li>
                        <li data-target="#king_indicators" data-slide-to="2"></li>
                        <li data-target="#king_indicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../images/kingImage1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/kingImage2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/kingImage3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="../images/kingImage4.jpg" alt="Fourth slide">
                        </div>
                    </div>
-->
<!--
                    <a class="carousel-control-prev" href="#king_indicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#king_indicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href="https://itunes.apple.com/app/king-kart-oyunu/id1018654392"><img id="app_store"  src="../images/appStoreBtn.png"></a>
                        </div>
                        <div class="col">
                            <a href="https://play.google.com/store/apps/details?id=com.still57.king"><img id="google_play" src="../images/googlePlayBtn.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
        <hr>
        
        <h1 class="text-center" style="margin-bottom: 25px;">Around the Web</h1>
-->
<!--
        <div class="text-center container">
            <div class="card" style="">
                <img src="images/arrowTwistLinkImage.JPG" class="card-img-top" alt="..." style="width: 40%; margin: 20px auto;">
                <div class="card-body">
                    <h5 class="card-title">Top 100 Games to look out for</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://gameskeys.net/top-android-game-to-lookout-for-in-june-2020" class="btn btn-primary">Check it out!</a>
                </div>
            </div>
        </div> 
-->
<!--        class="card-img-top"-->
<!--
        <div class="text-center container" style="border: 1px solid gainsboro; padding: 30px; border-radius: 10px; margin-bottom: 25px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); transition: box-shadow 200ms;">
            
                <div class="row align-items-center">
                    <div class="col">
                        <img src="images/arrowTwistLinkImage.JPG" alt="..." id="img-img">
                    </div>
                    <div class="col">
                        <div>
                            <h5>Top Android Games To Lookout for in June 2020</h5>
                            <p>Check out our feature in GamesKeys' Top Android Games To Lookout for in June 2020!</p>
                            <a href="https://gameskeys.net/top-android-game-to-lookout-for-in-june-2020" class="btn btn-primary">Check it out!</a>
                        </div>    
                    </div>    
                </div>
         
        </div>
      
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../index.js"></script>
    </body>
</html>
-->
